$black: #282828

@mixin font($size, $color)
	font-family: 'Arial'
	font-size: $size + px
	color: $color

%btn
	padding: 5px
	border-radius: 10px
	outline: 0px
	background-color: transparent
	border: 1px solid $black
	@include font(18, $black)
	cursor: pointer
	&:hover
		border-color: blueviolet
	&:active
		background-color: blueviolet
		border-color: transparent
		color: white

main 
	margin: 0 2rem

	width: clamp(0px, 95vw, 1000px)
	/*height: 500px*/

	/*@include font(18, $black)*/

	

	box-sizing: border-box

li 
	display: flex
	align-items: center

.add
	margin-bottom: 1rem

	display: grid
	grid-template-columns: 0fr 1fr 0fr

	#add, #reset
		@extend %btn

	input
		@include font(18, $black)
		padding: 5px
		border: 1px solid $black
		border-radius: 10px	
		margin: 0 1em
		width: auto
		&:focus
			outline: 0px
			border-color: blueviolet

.list
	@include font(18, $black)
	margin-top: 1rem

	p
		margin: 0
		margin-right: 1rem

	li
		padding: .5rem 0
		position: relative

		display: flex
		justify-content: space-between

		&:hover
			background-color: rgba(138, 43, 226, .075)
			.left button
				display: block

		&::before
			content: ''
			display: block
			width: 0
			height: 0
			border: 5px solid blueviolet
			border-radius: 50%

			position: absolute
			left: calc(0px - 5px - 1rem)
			top: calc(50% - 5px)

	.right 
		display: flex
		align-items: center

	.left
		display: flex
		align-items: center

		input
			@include font(18, $black)
			padding: 5px
			border: 1px solid $black
			border-radius: 10px	
			margin: 0px
			width: clamp(200px, 22vw, 300px)
			&:focus
				outline: 0px
				border-color: blueviolet

		button
			cursor: pointer
			display: none
			color: $black
			opacity: .35
			border: 0
			height: 30px
			width: 30px
			padding: 5px
			border-radius: 5px
			background-color: transparent
			&:not(:last-of-type)
				margin-right: .5rem
			&:active, &:focus 
				outline: 0px

		svg
			height: 100%
			width: 100%

	#plus
		padding: 5px
		height: 30px 
		width: 30px
		border-radius: 5px
		background-color: transparent
		outline: 0px
		color: $black
		border: 1px solid currentColor
		&:hover
			color: blueviolet

		svg
			height: 100%
			width: 100%

#switcher
	position: absolute
	top: 10px
	left: 10px

	button
		@extend %btn
		margin: .25rem

	.current
		border: transparent
		color: white
		background-color: blueviolet

#description
	margin: 1rem 2rem
	@include font(18, $black)
